<p id="notice"><%= notice %></p>
<div class="col-xs-3 col-md-3">
  <%= render partial: "admin/categories/categories_menu" %>
</div>

<div class="col-xs-9 col-md-9">
<h3>Products</h3>
  <div id="products" class="row list-group">
    <% @products.each do |product| %>
      <div class="item col-xs-6 col-lg-4">
        <div class="thumbnail">
          <%= image_tag attachment_url(product, :image, :fill, 300, 300) %>
        </div>
        <h4 class="group inner list-group-item-heading">
          <%= product.title %>
        </h4>
        $<%= product.price %>
        <%= link_to 'Show', admin_product_path(product) , class: "btn btn-default" %>
        <%= link_to 'Edit', edit_admin_product_path(product) , class: "btn btn-default" %>
        <%= link_to 'Destroy', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"  %>
      </div>
    <% end %>
  </div>
</div>
<nav>
  <ul class="pagination">
    <li>
      <%= paginate @products%>
    </li>
  </ul>
</nav>
<%= link_to 'New Product', new_product_path %>
