<p id="notice"><%= notice %></p>
<div class="col-xs-3 col-md-3">
  <%= render partial: "categories/categories_menu" %>
</div>

<div class="col-xs-9 col-md-9">
<h3>Products</h3>
  <div id="products" class="row list-group">
    <% @products.each do |product| %>
      <div class="item col-xs-6 col-lg-4">
        <div class="thumbnail">
          <%= image_tag attachment_url(product, :image, :fill, 150, 150) %>
        </div>
        <%= link_to product do%>
          <h4 class="group inner list-group-item-heading">
            <%= product.title %>
          </h4>
        <% end %>
        <%= form_tag("/basket", method: :add) do%>
          <%= hidden_field "product", "id", value: product.id%>
          <%= hidden_field "product", "quantity", value: 1 %>
          <h4>$<%= product.price %>
          <%= submit_tag 'Add to bag', class: "btn btn-default"%></h4>
        <% end %>        
      </div>
    <% end %>
  </div>
</div>
<nav>
  <ul class="pagination">
    <li>
      <%= paginate @products%>
    </li>
  </ul>
</nav>

