<p id="notice"><%= notice %></p>
<div class="col-xs-3 col-md-3">
  <%= render partial: "categories/categories_menu" %>
</div>

<div class="col-xs-9 col-md-9">
<p id="notice"><%= notice %></p>
<h3>
  <%= @product.title %>
</h3>
<p>
<%= image_tag attachment_url(@product, :image, :fill, 300, 300) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Stock level:</strong>
  <%= @product.stock_level %>
</p>
<%= form_tag("/basket", method: :add) do%>
  <%= hidden_field "product", "id", value: @product.id%>
  <%= number_field_tag 'product[quantity]', 1, in: 1.. @product.stock_level, class: "btn btn-default"%>
  <%= submit_tag 'Add to bag', class: "btn btn-default"%>
<% end %>
</div>