<!DOCTYPE html>
<html>
<head>
  <title>TestECommerce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href=<%= params[:controller][0..4]!='admin' ? root_path : admin_root_path%>> Test E-Commerce</a>
      <div class="collapse navbar-collapse">
        <div class="nav navbar-form navbar-right">
          <%= link_to("View basket", basket_path, class: "btn btn-default") if params[:controller][0..4]!='admin' %>
        </div>
      </div>   
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <div class="container">
    <%= yield %>
  </div>

</html>